body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#ren,#ren2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.h1{
border-radius:100px;
letter-spacing: 10px;
}